@page "/add"
@using System.Text
@attribute [RenderModeInteractiveServer]

<h3>Add Resources</h3>

<EditForm OnValidSubmit="ValidFormSubmitted" Model=@_model>

    <label>
        Workload / Application Name
        <input type="text" class="form-control-lg" @bind-value="@_model.AppName" @bind-value:event="oninput"/>
    </label>

    <button class="btn btn-lg btn-primary" disabled="@_model.IsCreateDisabled">Create</button>

    <hr />

    <h3>
        Resources to be created
    </h3>
    <ul>
        <li>Resource Group: dev-ncus-@_model.AppName-rg-01</li>
        <li>Service Principal: dev-ncus-@_model.AppName-sp</li>
    </ul>
</EditForm>

@code {
    [Inject] public IHttpClientFactory ClientFactory { get; set; } = default!;
    HttpClient GitHubClient = default!;
    readonly CreateAzureResourceModel _model = new();

    Thread? _statusThread;
    string? _latestStatus;

    protected override Task OnInitializedAsync()
    {
        GitHubClient = ClientFactory.CreateClient("GitHub");

        var statusQuery = new StringContent(GitHubApi.StatusQuery, Encoding.UTF8, "application/json");
        _statusThread = new Thread(async () =>
        {
            while (true)
            {
                var response = await GitHubClient.PostAsync(GitHubApi.EndpointUrl, statusQuery);
                var statusJson = await response.Content.ReadAsStringAsync();

                Thread.Sleep(5000);
            }
        });
        _statusThread.Start();

        return base.OnInitializedAsync();
    }

    async Task ValidFormSubmitted(EditContext editContext)
    {
        _model.IsCreateDisabled = true;

        StateHasChanged();

        var template = new PulumiStackTemplate();
        var pulumiStack = template.TransformText();
        pulumiStack = pulumiStack.Replace("@AppName", _model.AppName);


        var gitAction = new GitAction();
        gitAction.UploadFileAsync(pulumiStack, _model.AppName);
    }

    class CreateAzureResourceModel
    {
        public string AppName { get; set; } = "devjam5";
        public bool IsCreateDisabled { get; set; }
    }
}