@page "/create-azure-resources"
@attribute [RenderModeInteractiveServer]

<h3>CreateAzureResources</h3>

<EditForm OnValidSubmit="ValidFormSubmitted" Model=@_model>
    <button class="btn btn-primary">Create</button>
</EditForm>

@code {
    readonly CreateAzureResourceModel _model = new();

    void ValidFormSubmitted(EditContext editContext)
    {

    }

    class CreateAzureResourceModel
    {
        
    }
}
