@page "/create-azure-resources"
@attribute [RenderModeInteractiveServer]

<h3>CreateAzureResources</h3>

<EditForm OnValidSubmit="ValidFormSubmitted" Model=@_model>
    <button class="btn btn-primary">Create</button>
</EditForm>

@code {
    [Inject] CreateAzureResourceWorker Worker { get; set; } = default!;

    readonly CreateAzureResourceModel _model = new();

    async Task ValidFormSubmitted(EditContext editContext)
    {
        // TODO put a background job in
        await Worker.StartAsync(default);
    }

    class CreateAzureResourceModel
    {
        
    }
}
