@page "/create-azure-resources"
@attribute [RenderModeInteractiveServer]

<h3>CreateAzureResources</h3>

<EditForm OnValidSubmit="ValidFormSubmitted" Model=@_model>

    <input type="text" class="form-control-lg" @bind-value="@_model.ResourceGroupName" />

    <button class="btn btn-lg btn-primary" disabled="@_model.IsCreateDisabled">Create</button>
</EditForm>

@code {

    readonly CreateAzureResourceModel _model = new();

    async Task ValidFormSubmitted(EditContext editContext)
    {
        _model.IsCreateDisabled = true;

        StateHasChanged();

        // TODO create template

        // TODO call github api


    }

    class CreateAzureResourceModel
    {
        public string ResourceGroupName { get; set; } = "dev-ncus-devjam-rg-01";
        public bool IsCreateDisabled { get; set; }
    }
}