@page "/add"
@attribute [RenderModeInteractiveServer]

<h3>Add Resources</h3>

<EditForm OnValidSubmit="ValidFormSubmitted" Model=@_model>

    <label>
        Workload / Application Name
        <input type="text" class="form-control-lg" @bind-value="@_model.AppName" />
    </label>

    <button class="btn btn-lg btn-primary" disabled="@_model.IsCreateDisabled">Create</button>

    <hr />

    <h3>
        Resources to be created
    </h3>
    <ul>
        <li>Resource Group: dev-ncus-@_model.AppName-rg-01</li>
        <li>Service Principal: dev-ncus-@_model.AppName-sp</li>
    </ul>
</EditForm>

@code {

    readonly CreateAzureResourceModel _model = new();

    async Task ValidFormSubmitted(EditContext editContext)
    {
        _model.IsCreateDisabled = true;

        StateHasChanged();

        var template = new PulumiStackTemplate();
        var pulumiStack = template.TransformText();
        pulumiStack = pulumiStack.Replace("@AppName", _model.AppName);

        // TODO call github api

    }

    class CreateAzureResourceModel
    {
        public string AppName { get; set; } = "devjam5";
        public bool IsCreateDisabled { get; set; }
    }
}