@page "/"
@using Microsoft.EntityFrameworkCore

<PageTitle>Home</PageTitle>

<h3 class="card-title d-flex align-items-center">
    <span class="display-6">
        List
    </span>
    <span class="ms-auto">
        <a href="/add" class="btn btn-primary">
            Add
        </a>
    </span>
</h3>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Resource Name</th>
            <th>Created</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
        @if(Requests.Any())
        {
            @foreach (var request in Requests)
            {
                <tr>
                    <td>
                        <a href="/details/@request.Id" class="btn btn-outline-primary btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                    </td>
                    <td>@request.AppName</td>
                    <td>@request.CreatedOn</td>
                    <td>@request.LastUpdatedOn</td>
                </tr>
            }
        }
        else 
        {
            <tr>
                <td colspan="@int.MaxValue">
                    <div class="alert alert-info">
                        No requests have been made yet.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Inject] public ApplicationDbContext ApplicationDbContext { get; set; } = null!;

    private IEnumerable<AzureRequest> Requests { get; set; } = new HashSet<AzureRequest>();

    protected async override Task OnInitializedAsync()
    {
        Requests = await ApplicationDbContext.AzureRequests.ToListAsync();
    }
}
